.btn-primary {
  background-color: #f2682c;
  border-color: #f2682c;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #f37a30;
  border-color: #f37a30;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 122, 28, 0.5);
}

.nav-tabs {
  margin-bottom: 1rem;
}

li.nav-item > .nav-link.active {
  background: rgba(242, 104, 44, 0.2);
}
