body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
  font-weight: 800;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-brand > img {
    width: 200px;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.nav-signin {
  padding-left: 8px;
  padding-right: 8px;
}

.nav-signin > div, .nav-signin > img, #signin2 > div > div > div {
  border-radius: 2rem;
  height: 26px;
}

.nav-signin > img:hover {
  background-color: #365ebe;
  box-shadow: 0 0 3px 3px rgba(65, 114, 226, .3);
  cursor: pointer;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
    background: url('base/andrew-welch-77146.jpg') no-repeat scroll center center;
    background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #f37a30;
}

.btn-primary {
  background-color: #f2682c;
  border-color: #f2682c;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #f37a30;
  border-color: #f37a30;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 122, 28, 0.5);
}

.btn-secondary {
  background-color: #faaa3e;
  border-color: #faaa3e;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #f68f35;
  border-color: #f68f35;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 123, 48, 0.5);
}
